@model Mines_Web.Models.BoardModel

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script>
    $(document).contextmenu(function () {
        return false;
    });

    $(document).ready(function () {
        $(".cell-button").mousedown(function (e) {
            if (e.which == 3) {
                e.preventDefault();
                $(this).toggleClass("flagged");
                $.post("@Url.Action("OnCellRightClick", "GameCenter")", { cellLocation: this.getAttribute('value') }, function (data) {
                    $("body").html(data);
                });
            }
        });
    });
</script>

<div class="timer">60</div>


@using (Html.BeginForm("OnCellClick", "GameCenter", FormMethod.Post))
{
    for (int row = 0; row < Model.NumOfRows; row++)
    {
        for (int col = 0; col < Model.NumOfColumns; col++)
        {
            if (Model.Grid[col, row].Flagged)
            {
                <button value="@(col + " " + row)" type="submit" name="cellLocation" class="cell-button flagged">-</button>
            }
            else if (Model.Grid[col, row].Visited == true)
            {
                if (Model.Grid[col, row].LiveNeighbors == 0)
                {
                    <button disabled value="@(col + " " + row)" type="submit" name="cellLocation" class="cell-button-visited cell-button-visited-zero">-</button>
                }
                else if (Model.Grid[col, row].LiveNeighbors == 1)
                {
                    <button disabled value="@(col + " " + row)" type="submit" name="cellLocation" class="cell-button-visited cell-button-visited-one">-</button>
                }
                else if (Model.Grid[col, row].LiveNeighbors == 2)
                {
                    <button disabled value="@(col + " " + row)" type="submit" name="cellLocation" class="cell-button-visited cell-button-visited-two">-</button>
                }
                else if (Model.Grid[col, row].LiveNeighbors == 3)
                {
                    <button disabled value="@(col + " " + row)" type="submit" name="cellLocation" class="cell-button-visited cell-button-visited-three">-</button>
                }
                else if (Model.Grid[col, row].LiveNeighbors == 4)
                {
                    <button disabled value="@(col + " " + row)" type="submit" name="cellLocation" class="cell-button-visited cell-button-visited-four">-</button>
                }
                else if (Model.Grid[col, row].LiveNeighbors == 5)
                {
                    <button disabled value="@(col + " " + row)" type="submit" name="cellLocation" class="cell-button-visited cell-button-visited-five">-</button>
                }
                else if (Model.Grid[col, row].LiveNeighbors == 6)
                {
                    <button disabled value="@(col + " " + row)" type="submit" name="cellLocation" class="cell-button-visited cell-button-visited-sex">-</button>
                }
                else if (Model.Grid[col, row].LiveNeighbors == 7)
                {
                    <button disabled value="@(col + " " + row)" type="submit" name="cellLocation" class="cell-button-visited cell-button-visited-seven">-</button>
                }
                else if (Model.Grid[col, row].LiveNeighbors == 8)
                {
                    <button disabled value="@(col + " " + row)" type="submit" name="cellLocation" class="cell-button-visited cell-button-visited-eight">-</button>
                }
                else if (Model.Grid[col, row].Detonated)
                {
                    <button disabled value="@(col + " " + row)" type="submit" name="cellLocation" class="cell-button-visited cell-button-visited-detonated">-</button>
                }
                else if (Model.Grid[col, row].Live)
                {
                    <button disabled value="@(col + " " + row)" type="submit" name="cellLocation" class="cell-button-visited cell-button-visited-bomb">-</button>
                }
            }
            else
            {
                <button value="@(col + " " + row)" type="submit" name="cellLocation" class="cell-button">-</button>
            }
        }
        <br />
    }
}
@Html.Partial("_DifficultySelector")
