@model Mines_Web.Models.PrincipalModel

@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_HomePageLayout_notLoggedIn.cshtml";
}

<link href="~/Content/Custom-CSS/styles_SignIn.css" rel="stylesheet" />

<!-- BEGIN LOGIN FORM -->

<div class="wrapper">
    <div class="form-container">
        <div class="login-page-form">

            @using (Html.BeginForm("Authenticate", "SignIn", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="login-page-form-title">Sign in</div>
                @Html.ValidationSummary(false, "", new { @class="text-danger"})
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { type = "text", placeholder = "Username" } })
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { type = "password", placeholder = "Password" } })
                <input type="submit" class="submit-button" value="Sign In" />

                @Html.ActionLink("Register", "RegForm", "", new { @class = "switch-form-button" })
            }
        </div>
    </div>
</div>
<!-- END LOGIN FORM -->



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/scripts_SignIn.js")
}